<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>学校人力管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label for="tchId" class="layui-form-label">
                        <span class="x-red">*</span>工号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="tchId" name="tchId" required="" lay-verify="required"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="wifeHusband" class="layui-form-label">
                        <span class="x-red">*</span>妻(夫)</label>
                    <div class="layui-input-inline">
                        <input type="text" id="wifeHusband" name="wifeHusband" required="" lay-verify=""
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="father" class="layui-form-label">
                        <span class="x-red">*</span>父亲</label>
                    <div class="layui-input-inline">
                        <input type="text" id="father" name="father" required="" lay-verify="" autocomplete="off"
                            class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="mother" class="layui-form-label">
                        <span class="x-red">*</span>母亲</label>
                    <div class="layui-input-inline">
                        <input type="text" id="mother" name="mother" required="" lay-verify=""
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="son1" class="layui-form-label">
                        <span class="x-red">*</span>子女1</label>
                    <div class="layui-input-inline">
                        <input type="text" id="son1" name="son1" required="" lay-verify=""
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="son2" class="layui-form-label">
                        <span class="x-red">*</span>子女2</label>
                    <div class="layui-input-inline">
                        <input type="text" id="son2" name="son2" required="" lay-verify=""
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="son3" class="layui-form-label">
                        <span class="x-red">*</span>子女3</label>
                    <div class="layui-input-inline">
                        <input type="text" id="son3" name="son3" required="" lay-verify=""
                            autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label  class="layui-form-label"></label>
                    <button id="add" style="display: none" class="layui-btn" lay-filter="add" lay-submit="">保存</button>
                    <button id="update" style="display: none" class="layui-btn" lay-filter="update" lay-submit="">修改</button>
                </div>
            </form>
        </div>
    </div>
    <script>layui.use(['form', 'layer'],
            function () {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;

                //自定义验证规则
                form.verify({
                    nikename: function (value) {
                        if (value.length < 5) {
                            return '昵称至少得5个字符啊';
                        }
                    },
                });

                // 获取url参数
                function getUrlVars() {
                    const vars = {};
                    const parts = decodeURI(window.location.href).replace(/[?&]+([^=&]+)=([^&#]*)/gi,
                        function (m, key, value) {
                            vars[key] = value;
                        }
                    );
                    return vars;
                }
                const params = getUrlVars();


                // 判断id是否存在 ? 查询 : 跳过
                $(function getFamilyById() {
                    const add = document.getElementById('add');
                    const update = document.getElementById('update');
                    if (params.id != null && params.id !== '') {
                        $.ajax({
                            url: "/family/getFamily/" + params.id,
                            type: "GET",
                            success: function (result) {
                                $("#tchId").val(result.tchId)
                                $("#wifeHusband").val(result.wifeHusband)
                                $("#father").val(result.father)
                                $("#mother").val(result.mother)
                                $("#son1").val(result.son1)
                                $("#son2").val(result.son2)
                                $("#son3").val(result.son3)
                            }
                        })
                        update.style.display = 'inline';
                    } else {
                        add.style.display = 'inline';
                    }
                })

                // 提交
                form.on('submit(add)',
                    function (data) {
                        $.ajax({
                            url: "/family/add",
                            type: "POST",
                            data: data.field,
                            dataType: 'JSON',
                            cache: false,
                            success: function (result) {
                            }
                        })

                        layer.alert("增加成功", {icon: 6},
                            function () {
                                const index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            });
                        // location.reload();
                        return false;
                    })

                // 修改
                form.on('submit(update)',
                    function (data) {
                        data.field.id = params.id
                        console.log(data.field)
                        $.ajax({
                            url: "/family/update",
                            type: "PUT",
                            data: data.field,
                            dataType: 'JSON',
                            cache: false,
                            success: function (result) {
                            }
                        })

                        layer.alert("修改成功", {icon: 6},
                            function () {
                                const index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            });
                        // location.reload();
                        return false;
                    })
            });
    </script>

</body>

</html>